<h4><%= user.name %> <span class="text-secondary">@<%= user.username %></span></h4>
<h5><%= user.email %></h5>
<br />
<%= render 'profile/follower_count', user: user %>
<div class="mb-1"><%= user.followees.count %> following</div>
<% if user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
<% elsif current_user %>
  <%= render 'profile/follow_button', user: user %>
<% end %>
